{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "targets": ["last 2 version", "ie >= 10", "Safari >= 4"]
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-transform-runtime"
  ],
  "env": {
    "development": {
      "plugins": ["react-hot-loader/babel"]
    },
    "test": {
      "presets": ["@babel/preset-env", "@babel/preset-react"],
      "plugins": ["require-context-hook"]
    }
  }
}
