{
  "presets": [
    [
      "@babel/preset-env",
      {
        "bugfixes": true,
        "corejs": 3,
        "loose": true,
        "modules": false,
        "useBuiltIns": "entry"
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-transform-runtime"
  ],
  "env": {
    "development": {
      "plugins": ["react-hot-loader/babel"]
    },
    "production": {
      "plugins": [["lodash", { "id": ["lodash"] }]]
    },
    "test": {
      "plugins": ["require-context-hook"]
    }
  }
}
